[Unit]
Description=Flotta start service
Wants=network-online.target
After=network-online.target
ConditionPathExists=/usr/lib/systemd/system/device-worker-ng.service

[Service]
Type=oneshot
ExecStart=systemctl enable --now device-worker-ng.service
ExecStart=sudo --user=#1000 systemctl --user enable --now podman.socket

[Install]
WantedBy=multi-user.target
