[Unit]
Description=Device-worker-ng setup service
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/usr/bin/device-worker-ng

[Service]
Type=oneshot
ExecStartPre=sudo rm /etc/yum.repos.d/fedora-cisco-openh264.repo
ExecStartPre=curl https://copr.fedorainfracloud.org/coprs/tupanu/device-worker-ng/repo/fedora-36/device-worker-ng-fedora-36.repo -o /etc/yum.repos.d/device-worker-ng.repo
ExecStart=sudo rpm-ostree install device-worker-ng
ExecStart=sudo --user=#1000 systemctl --user enable --now podman.socket
ExecStart=/bin/bash -c "echo \"client-id = ##`cat /etc/machine-id`##\" >> /etc/yggdrasil/config.toml"
ExecStart=sed -i -s "s/##/\"/g" /etc/yggdrasil/config.toml
ExecStopPost=systemctl reboot

[Install]
WantedBy=multi-user.target
